<%- include ("partials/header")	%>

<div class="landing-container">
    <div class="container">
        <div class="row">
            <div class="col align-self-center text-center landing-text">
                <h1>We Plan & Organise</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat consequatur iure sunt quam officiis itaque nisi voluptates odio impedit. 
                    <br>
                    Itaque odio dolores cumque, quaerat quasi dolorum officia dolorem consequuntur! Labore odit praesentium culpa, recusandae illum 
                    <br>
                    ducimus quo provident non odio laborum sed adipisci consequatur, et at a veniam id ab blanditiis. Voluptatem, at atque error quam quos possimus architecto!
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat consequatur iure sunt quam officiis itaque nisi voluptates odio impedit. 
                    <br>
                    Itaque odio dolores cumque, quaerat quasi dolorum officia dolorem consequuntur! Labore odit praesentium culpa, recusandae illum 
                    <br>
                    ducimus quo provident non odio laborum sed adipisci consequatur, et at a veniam id ab blanditiis. Voluptatem, at atque error quam quos possimus architecto!
                </p>    

            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer")	%>